<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% block head %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Heaviety Business{% endblock %}</title>
  
    {% endblock %}
  </head>
  <body>
    <div
      class="container pt-2 mt-2 rounded"
      style="background-color: #1ecbe1; min-height: 95vh"
    >
<nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Heaviety Business</a>
            <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
</nav>
      {% block content %} {% endblock %}
    </div>
  </body>
  <footer>
    {% block footer %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- copyright -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <p>&copy; 2024 Heaviety. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>
</html>