{% extends "base.html"%} {% block content %}
<div class="container">
  <h3 class="row bg-primay">
    Get access to the content of the products and services offered in our Local
    Markets
  </h3>
  {% if user.is_authenticated %} {% if data %} {% for product in data %}
  <div class="card">
    <h4>Product Name :{{ product.name }}</h4>
    <p>Description :{{ product.description }}</p>
    <p>Pricing at ksh {{ product.price }}</p>
    <span
      >Image :<img src="{{product.image}}" alt="{{product.name}}" width="100px"
    /></span>
    <span>Vendor: {{product.vendor}}</span>
    {% endfor %} {% else %}
    <p>
      Register to get access to the content of the products and services offered
      in our Local Markets
    </p>
    {% endif %} {% else %}
    <p>
      Register to get access to the content of the products and services offered
      in our Local Markets
    </p>
  </div>
  {% endif %} {% endblock %}
</div>
