{% extends "base.html"%}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="border p-5">
      <div class="row">
        <h4>Heaviety Business</h4>
      </div>
      <div class="row shadow p-3 mb-5 bg-white rounded">
        <div class="col">
          <img
            src="/media/{{ user.profile_picture }}"
            class="img-fluid img-thumbnail float-left rounded-circle"
            width="50"
            alt=""
          />
        </div>
        <div class="col">
          <h4>{{ user.first_name }} {{ user.last_name }}</h4>
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addProductModal"
          >
            Add Product
          </button>
        </div>
        {% if products %}
          {% for product in products %}
            <div class="row shadow p-3 mb-5 bg-white rounded">
              <div class="row bg-secondary">
                <h4 class="text-center text-success">{{ product.name }}</h4>
              </div>
              <div class="row">
                <div class="col">
                  <img
                    src="/media/{{ product.owner.profile_picture }}"
                    class="img-fluid float-left rounded-circle"
                    width="50"
                    alt="image"
                  />
                </div>
                <div class="col">
                  <div class="row">
                    <h5>{{ product.owner.first_name }} {{ product.owner.last_name }}</h5>
                  </div>
                  <div class="row"><small>{{ product.owner.email }}</small></div>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <p class="text-justify">{{ product.description }}</p>
                </div>
                <div class="row">
                  <img
                    src="/media/{{ product.image }}"
                    class="mx-auto d-block img-fluid rounded"
                    width=""
                    height=""
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <span>Like</span>
                </div>
                <div class="col">
                  <span>Comment</span>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewProductModal{{ product.id }}">View Details</button>
                </div>
              </div>
            </div>
            <!-- View Product Modal -->
            <div class="modal fade" id="viewProductModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="viewProductModalLabel{{ product.id }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="viewProductModalLabel{{ product.id }}">Product Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <img src="/media/{{ product.image }}" class="img-fluid mx-auto d-block rounded" alt="{{ product.name }}" />
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                        <p><strong>Price:</strong> {{ product.price }}</p>
                        <p><strong>Category:</strong> {{ product.category }}</p>
                        <p><strong>Stock:</strong> {{ product.stock }}</p>
                        <p><strong>Active:</strong> {{ product.active }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    {% if product.owner == user %}
                      <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Product</button>
                      </form>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="row">
            <span>Ooops! No Data</span>
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Add Product Modal -->
    <div
      class="modal fade"
      id="addProductModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addProductModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row"><img
              src="/media/{{ user.profile_picture }}"
              class="img-fluid img-thumbnail mx-auto d-block rounded-circle"
              style="width: 100px;"
              alt=""
            /></div>
            <div class="row">
              <form
                id="addProductForm"
                method="POST"
                enctype="multipart/form-data"
                action="{% url 'add_product' %}"
              >
                {% csrf_token %}
                <div class="form-group">
                  <label for="name">Product Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                    placeholder="Enter product name"
                  />
                </div>
                <div class="form-group">
                  <label for="description">Product Description</label>
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    required
                    placeholder="Enter product description"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="price" id="price">Price</label>
                  {{ form.price }}
                </div>
                <div class="form-group">
                  <label for="category" id="category">Category</label>
                  {{ form.category }}
                </div>
                <div class="form-group">
                  <label for="image">Product Image</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="stock">Stock</label>
                  {{ form.stock }}
                </div>
                <div class="form-group">
                  <label for="active">Active</label>
                  {{ form.active }}
                </div>
                <button type="submit" class="btn btn-primary">Add Product</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
